.App {
  text-align: justify;
  padding: 0;
}

html { scroll-behavior: smooth; } 

.NavBar {
  text-align: center;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  width: 100%
}

.Home {
  text-align: center;
  padding: 10vh;
  height: 100vh;
}


.Components {
  text-align: justify;
  padding: 2rem;
}

#about, #education, #skills, #portfolio, #work-experience, #contact {
  padding: 10vh;
  height: 100vh;
}

a {
  text-decoration: none;
  color: hsl(118, 68%, 37%);
}

#nav-bar {
  font-size:larger;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: rgb(9, 45, 58);
  box-shadow:rgb(7, 45, 60)
}