
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&display=swap');

body {
  height:100%;
  margin: 0;
  background-color: rgb(2, 26, 35);
  color: whitesmoke;
  font-family: 'JetBrains Mono', monospace;
}


